---
// Sticky sidebar Section
// ------------
// Description: A section with a sticky sidebar. The sticky sidebar content is using the "sidebar" slot
// Properties:
// - id: The id of the section
// - type: determines the position of the sticky sidebar (left or right)
// - classes: Additional classes to be added to the section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// Props
type Props = {
  classes?: string
}
const { classes = '' } = Astro.props
---

<div class={classes}>
  <div class="container">
    <div class="flex flex-col lg:flex-row gap-8 lg:gap-16">
      <div class="lg:w-1/3 lg:sticky lg:top-24 lg:self-start">
        <slot name="sidebar" />
      </div>
      <div class="lg:w-2/3">
        <slot />
      </div>
    </div>
  </div>
</div>
